header{
   background: #fff;
   position: fixed;
   z-index: 99;
   width: 100%;
   box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);
   .mat-toolbar{
      background: transparent;
   }
   .mat-toolbar-single-row {
      max-width: 680px;
      padding: 0 20px;
      margin: auto;
      .fill-remaining-space {
         flex: 1 1 auto;
      }
      button{
         padding: 0 10px 5px;
         display: flex;
         justify-content: center;
         align-items: center;
         line-height: initial;
         .mat-icon {
            fill: #ccc;
            height: inherit;
            width: inherit;
            line-height: inherit;
         }
      }
      button.admin{
         padding: 0 5px 5px;
      }
      button.logout{
         padding: 0px 8px 5px;
      }
      .text-logo{
      font-size: 18px;
      text-transform: uppercase;
      color: #57565f;
      letter-spacing: -0.7px;
      }
   }
}
