   h2.title {
      margin: -14px -24px 10px;
      padding: 12px 0;
      display: block;
      text-align: center;
      border-bottom: 1px solid #f3f4f7;
      font-size: 24px;
      letter-spacing: -0.5px;
      font-weight: 400;
      box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.04);
   } 