   h2.title {
    margin: -14px 0px 0px;
    padding: 12px 0;
    display: block;
    text-align: center;
    border-bottom: 1px solid #f3f4f7;
    font-size: 24px;
    letter-spacing: -0.5px;
    font-weight: 400;
   }
   mat-dialog-content {
      min-width: 380px;
   }

    @media screen and (max-width: 468px) {
         mat-dialog-content {
         min-width: auto;
      }
      h2.title {
         font-size: 4.5vw;
      }

   }