
.new-post-container{
   min-width: 330px;
   p.msg{
   margin-bottom: 25px;
    font-size: 14px;
    letter-spacing: -0.5px;
    text-align: center;
   }
   .form-control{
      margin-bottom: 20px;
   }
   .fileContainer{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 265px;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    
    .mat-icon {
         margin-right: 10px;
    }
   }
   button{
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    margin-bottom: 10px;
   }
}




  input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .container-input-file {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    background: rgba(210, 210, 210, 0.3);
    border-radius: 5px;
    border: 2px dashed rgba(77, 77, 77, 0.2);
    text-align: center;
    transition: background 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
    
    .success {
      display: none;
    }

   .custom-file{
      display: flex;
      justify-content: center;
      align-items: center;
   }

  }
  
  .container-input-file:hover  {
    background: rgba(210,210,210,0.1);
  }
  
  input[type=file]:focus{
    outline: 2px solid rgba(210,210,210,0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  input[type=file]:valid .container-input-file {
    border-color: rgba(0,255,0,0.6);
    background-color: rgba(0,255,0,0.5);

    .success {
      display: inline-block;
    }
    .default {
      display: none;
    }
  }


        @media screen and (max-width: 660px) {
         .new-post-container{
            padding: 25px 13px 0;
            min-width: 100%;
         }
   }