/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

button.pending{
  .mat-icon {
    color: #FF9800;
  }
}
button.active{
  .mat-icon {
    color: #1dce4c;
  }
}

h2{
  text-align: center;
  letter-spacing: -0.7px;
  margin-bottom: 0px;
}

p{
  text-align: center;
  font-size: 14px;
  margin-bottom: 35px;
}

.container-btn-new{
    margin-bottom: 20px;
    button{
      font-size: 18px;
      width: 100%;
      padding: 15px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 24px;
    border: none;
}

mat-cell{
    padding: 18px 24px;
}


.mat-icon-button .mat-icon, .mat-icon-button i {
    display: flex;
    margin: auto;
}

@media screen and (max-width: 660px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }
  
  /*  Enable this to hide header
  .mat-table .mat-header-cell {
    
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    font-size: .85em;
  }

  .mat-row{
    display: none;
}
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}