/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'open sans', "Helvetica Neue", sans-serif; transition: all 0.5s ease-in-out;}

@import './theme.scss';
@import './assets/scss/normalize';
// @import './assets/scss/grid';

main{
   background: #fafafa;
   padding: 56px 0 0 0 ;
   min-height: 100vh;
}
.container{
   max-width: 680px;
   padding: 50px 30px;
   margin: auto;
}

.cdk-global-scrollblock {
  position: initial;
  width: initial;
  overflow: hidden;
}



// .spinner-wrap{

// }