/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'open sans', "Helvetica Neue", sans-serif; transition: all 0.5s ease-in-out; text-shadow: 1px 1px 1px rgba(0,0,0,0.003); text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important; }

@import './theme.scss';
@import './assets/scss/normalize';

main{
   background: #fafafa;
   padding: 56px 0 0 0 ;
   min-height: 100vh;
}
.container{
   max-width: 680px;
   padding: 50px 30px;
   margin: auto;
}

.cdk-global-scrollblock {
  position: initial;
  width: initial;
  overflow: hidden;
}

